.Playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  width: 46%;
  padding: 0.75em 0.8rem;
  background-color: rgba(80, 80, 80, 0.7);
}

.Playlist input {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #6f6f6f;
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
  color: #fff;
}

.Playlist-save {
  cursor: pointer;
  width: 10rem;
  padding: 1rem 3rem;
  border-radius: 54px;
  margin-top: 1.27rem;
  background-color: #1c1b22;
  text-align: center;
  font-size: .83rem;
  transition: background-color .25s;
}

.Playlist-save:hover {
  background-color: #464e55;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
  .Playlist {
    width: 90%;
  }
}
