body,
html,
#root {
  height: 100%;
  background-color: #0D0D0D;
}

html {
  font-size: 15px;
}

h1 {
  padding: .77rem 0;
  background-color: #1c1b22;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.88rem;
  color: #fff;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
}

h1 .highlight {
  color: #fee7c8;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
}

.height {
  height: auto;
}
.fixed {
  position: absolute;
  width: 100vw;
}

.App {
  height: auto;
  padding: 0 10% 8% 10%;
  background-image: url('./Img/background_photo_desktop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}
